extends ../layout

block content
    .container
        dl.dl-horizontal
            dt Email
            dd= student.email
            dt 性别
            dd= student.sex
            dt 电话
            dd= student.phone
            dt 头像
            dd= student.avatar