extends ../../layout/admin

block content
    .container
        form.form-horizontal(method='post',action='/admin/role/edit')
            input(type='hidden',name='role[_id]',value=role._id)
            .form-group
                label.col-xs-2.control-label 名称
                .col-xs-10
                    input.form-control(type='text',name='role[name]',value=role.name)
            .form-group
                .col-xs-offset-2.col-xs-10
                    button.btn.btn-default(type='submit') 提交