/* setting */

.wrap-setting {
  position: relative;
  background: #ccc;
  padding-left: 140px;
  border: solid 1px #ccc;
}
.wrap-setting .left-menu {
  position: absolute;
  left: 0;
  top: 0;
}
.wrap-setting .avatar {
  margin: 15px;
  padding: 4px;
  background-color: #fff;
  border: solid 1px #999;
  border-radius: 3px;
}
.wrap-setting .menu ul {
  padding-left: 0;
  list-style: none;
}
.wrap-setting .menu li a {
  display: block;
  padding: 8px 15px;
  color: #666;
}
.wrap-setting .menu li a.active {
  background-color: #eee;
  color: #333;
}
.wrap-setting .right-box {
  background-color: #eee;
}
.wrap-setting .title {
  border-bottom: solid 1px #ccc;
}
.wrap-setting .title b {
  display: inline-block;
  padding: 5px 10px;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: -1px;
  border: solid 1px #ccc;
  border-bottom-color: #eee;
}
.wrap-setting .tab-link {
  border-bottom: solid 1px #ccc;
  padding: 5px 0 5px 30px;
  margin-top: 5px;
}
.wrap-setting .tab-link a {
  display: inline-block;
  margin-right: 30px;
  color: #666;
}
.wrap-setting .tab-link a.active {
  font-weight: bold;
}
.wrap-setting .content {
  padding: 20px;
}
.wrap-setting .content .radio-inline {
  line-height: 1.6;
}
