body {
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
  cursor: pointer;
}

/* orders */

#orders {
  padding: 15px;
}
#orders .header {
  text-align: center;
  line-height: 2;
  font-size: 14px;
  background: #efefef;
  color: #666;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
#orders .header .col-xs-7 {
  text-align: left;
}
#orders th {
  font-weight: normal;
  color: #666;
}
#orders td {
  padding: 15px 0;
  border-right: solid 1px #eee;
  text-align: center;
}
#orders td.col-xs-7 {
  text-align: left;
  padding-top: 0;
}
#orders td:last-child {
  border-right: none;
}
#orders .time {
  margin-right: 50px;
}
#orders .oid {
  margin-right: 80px;
}
#orders .p-info {
  position: relative;
  border-bottom: solid 1px #eee;
  padding: 15px 0
}
#orders .p-info:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
#orders .p-info .img {
  position: absolute;
  left: 15px;
}
#orders .p-info .number {
  position: absolute;
  top: 15px;
  right: 30px;
}
#orders .p-info .info {
  margin-left: 85px;
  min-height: 60px;
  margin-right: 100px;
}
#orders .p-info .info a {
  display: block;
}
#orders .o-item {
  margin-bottom: 15px;
  border: solid 1px #eee;
}
#orders .o-info {
  background: #efefef;
  padding: 10px 15px;
}
#orders .amount p {
  margin: 0 5px 5px 5px;
  padding-bottom: 5px;
  border-bottom: solid 1px #eee;
}

/* order control */

.flowstep {}
.flowstep li {
  display: inline-block;
}
