form.form-horizontal(id="formCertify")
  .form-group
    label.col-sm-2.control-label 登录名
    .col-sm-10(style="padding-top:7px;") 梦小苏的寻梦之旅
  .form-group
    label.col-sm-2.control-label 姓名
    .col-sm-10
      input.form-control(type="text",name="sname")
  .form-group
    label.col-sm-2.control-label 学号
    .col-sm-10
      input.form-control(type="number",name="sno")
  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-danger.btn-sm(type="button") 提交
