form.form-horizontal(id="formPayPwd")
  .form-group
    label.col-sm-2.control-label 原密码
    .col-sm-10
      input.form-control(type="password",name="rawPwd")
  .form-group
    label.col-sm-2.control-label 新密码
    .col-sm-10
      input.form-control(type="password",name="pwd")
  .form-group
    label.col-sm-2.control-label 确认密码
    .col-sm-10
      input.form-control(type="password",name="pwd2")
  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-danger.btn-sm(type="button") 提交
