doctype html
html
  head
    meta(name='viewport',content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/student.css')
  body
    section.render-body
        .container(style="margin:100px auto;")
          h1 404
          a(onClick="javascript :history.back(-1);") 返回上一页
