extends ../layout/student

block content
    .panel.panel-default
        .panel-heading 学生登录
        .panel-body
            form.form-horizontal(method='post',action='/student/signin')
                .form-group
                    label.col-xs-2 账号
                    .col-xs-10
                        input.form-control(type='text',name='uname')
                .form-group
                    label.col-xs-2 密码
                    .col-xs-10
                        input.form-control(type='password',name='upwd')
                .form-group
                    .col-xs-offset-2.col-xs-10
                        button.btn.btn-primary(type='submit') 立即登录